  .section__cart-container{
      width: 90%;
      border: 2px solid gray;
      margin-top: 50px;
      display: flex;
      align-items: center;
  }
  .section__img{
      width: 150px;
      height: auto;
      padding: 20px;
  }
 

  .remove_btn{
      background-color: red;
      color: white;
      padding: 10px;
      font-weight: bold;
      opacity: .6;
      border: 1px solid white;
      border-radius: 10px;

  }
  .remove_btn:hover{
    background-color: red;
    color: white;
    opacity: 1;


}
.section__info{
    margin-left: 60px;
}
@media(max-width:1500px){
    .section__cart-container{
        width: 40%;
        flex-direction: column;
        margin-left: 20px;


    }
    .section__cart{
        display: flex;
        justify-content: center;

    }
    .section__img{
        width: 200px;
        margin: auto;
    }
    .section__info{
      margin:5px auto;
   
  
    }

}
@media(max-width:700px){
    .section__cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;

    }
    .section__cart-container{
        width: 100%;
        flex-direction: column;
        margin-left: 0px;

    }
    .section__img{
        width: 200px;
        margin: auto;
    }
    .section__info{
      margin:5px auto;
   
  
    }

}