body {
	background: linear-gradient(-45deg, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.section_product{
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    /* background-color: #eee; */
}
.section-product-title{
    text-align: center;
    padding-top: 20px;
}
.section_product_container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.product{
    width: 20%;
    height: 300px;
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    background-color: #eee;
    margin-top: 20px;
    margin-right: 20px;
    box-sizing: border-box;

}
.img-product{
    width: 70%;
    height: 70%;
}
.section-product-btn{
    padding: 10px;
    background-color: white;
    color: black;
    border: 1px solid gray;
    border-radius: 10px;
    margin-top: 10px;
}
.section-product-btn:hover{
    background-color: teal;
    color: white;
}
 #footer  {
    padding: 15px;
 }
@media(max-width:1200px){
    .product{
        width: 40%;
    
    }

}
@media(max-width:600px){
    .section_product_container{
        flex-direction: column;
        flex: 1 100%;
        justify-content: center;
        box-sizing: border-box;
    
    }
    .product{
        width: 100%;
        
    
    }

}