*{
    margin: 0;
    font-size: 25%;

}
.all-product{
    padding-top: 2%;
    width: 90%;
    margin: 0 auto;
}
h1 {
    color:black;
    font-size: 5.8rem;
}
/* make table*/

.product-contaner {
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding-bottom: 2rem;;
    margin-top: 2rem;
}

.flex-heder {
    display: flex;
    width: 100%;
    /* padding-top: 2rem; */
    font-size:20rem;
    font-family: 'Courier New', Courier, monospace;
}

.flex-heder  div {
    width: 20%;
    border: 1px solid black;
    text-align: center;
}


.flex-content {
    display: flex;
    width: 100%;
    /* align-items: center; */

}

.flex-content  div {
    border: 1px solid gray;
    width: 20%;
}

.product-des{
    /* border: 1px solid gray; */
    /* padding:36%; */
    text-align: center;
    font-size:5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product-img{
        /* border: 1px solid gray; */
    width:90%;
    height: 35rem;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5rem;
    cursor: pointer;
  }
.green-btn {background-color: #4CAF50;} /* Green */
.blue-btn {background-color: black;
    opacity: .7};
.red-btn {background-color: #f44336;} /* Red */

.form-sec {
    display: none;
    margin: 0 auto;
    width: 80%;
    z-index: 1;
    
}

.form-div {
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid black;
    margin-top: 10px;
}

input,
label,
p,
select,
textarea {
    font-size: 5rem;
    width: 99%;
    padding: 2px;
    margin: 10px;
}
option{
    font-size: 4rem;

}
textarea {
    height: 100px;
}

.form-button {
    color: black;
    font-size: 22px;
    padding: 20px;
    /* for delay  */
    transition: 0.6s ease;
    float: right;
}

.form-button:hover {
    background-color: #fff;
    color: black;
}


.close-btn {
    display: flex;
    justify-content: flex-end;
    color: #aaaaaa;
    font-size: 25rem;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
}
/*  ////////////////*/

.invisable {
    display: none;
    overflow: visible;

}

.visable {
    display: block;
    overflow: visible;
    /* background-color: white; */
}
.fa-search {
    font-size: 7rem;
    width:0%;
    padding: 10px;
    margin: 10px;}