*{
    margin: 0;
    font-size: 25%;

}
.all-product{
    padding-top: 2%;
    width: 90%;
    margin: 0 auto;
}
h1 {
    color:black;
    font-size: 5.8rem;
}
/* make table*/

.product-contaner {
    border: 1px solid black ;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding-bottom: 2rem;;
    margin-top: 2rem;
}

.flex-heder {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    font-size:25rem;
    font-family: 'Courier New', Courier, monospace;
}

.flex-heder > div {
    width: 20%;
    border: 1px solid black;
    text-align: center;
}


.flex-content {
    display: flex;
    width: 100%;
    font-size:18rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.flex-content > div {
    border: 1px solid black;
    width: 20%;
    /* text-align: center; */
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5rem;
    height: 5vh;
    cursor: pointer;

  }
.green-btn {background-color: #4CAF50;} /* Green */
.blue-btn {background-color: black;
    opacity: .7};
.red-btn {background-color: #f44336;} /* Red */
